@import 'modules/normalize.css';
@import 'modules/generic.css';
@import 'modules/embellishments.css';
@import 'modules/section.css';
@import 'modules/background.css';
@import 'modules/typography.css';
@import 'modules/cards.css';
@import 'modules/era.css';
@import 'modules/book.css';

:root {
    --primary-font-family: 'Yeseva One', cursive;
    --secondary-font-family: 'Lato', sans-serif;
    --heading-color:#A9A9A9;
    --ribbon-color: #f4d03f;  
}
/* @import 'modules/custom-normalize.css'; */

/* html {
    background-color: pink;
} */
#wrapper {
    background-color: whitesmoke;
}
